<!-- Navbar -->
<header id="navigation">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white py-4">
      <div class="container">
        <h3><a class="navbar-brand" href="#">{{ title }}</a></h3>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navLinks" aria-controls="navLinks" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navLinks">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item gradient-dark rounded-pill">
              <a class="nav-link px-4" href="#" routerLink="'/login'">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</header>
<!-- /navbar -->
