/*
    google font
    headings : archivo black
    general text : roboto
*/
@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Roboto&display=swap');
/* global */
*   {
    margin: 0;
    padding: 0;
}
body    {
    background-color: #f5f5f5;
}
.title-text {
    font-family: 'Archivo Black', sans-serif;
}
.body-text  {
    font-family: 'Roboto', sans-serif;
}
/* navbar */
.navbar {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
}
.gradient-dark  {
    background: rgba(189,195,199,1);
    background: -moz-linear-gradient(left, rgba(189,195,199,1) 0%, rgba(44,62,80,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(189,195,199,1)), color-stop(100%, rgba(44,62,80,1)));
    background: -webkit-linear-gradient(left, rgba(189,195,199,1) 0%, rgba(44,62,80,1) 100%);
    background: -o-linear-gradient(left, rgba(189,195,199,1) 0%, rgba(44,62,80,1) 100%);
    background: -ms-linear-gradient(left, rgba(189,195,199,1) 0%, rgba(44,62,80,1) 100%);
    background: linear-gradient(to right, rgba(189,195,199,1) 0%, rgba(44,62,80,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bdc3c7', endColorstr='#2c3e50', GradientType=1 );
}
.gradient-dark > a  {
    color: #fff !important;
}